# [user]
# 	email = foo 
# 	name =  bar

# This is for git diff 
# Here is the link for more information 
#   https://github.com/dandavison/delta
#
# If you don't want to look at the website and you use Arch Linux just 
# run the following command depending on your package manager
#
#   $ yay -S git-delta
#
#   $ sudo pacman -S git-delta
#

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
